.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.theme-light {
  --page-background-color: #f5f6f9;
  --card-background-color: white;
  --button-background-color: #47cdff;
  --header-background-color: white;

  --text-default-color: #222;
}

.theme-dark {
  --page-background-color: #17181e;
  --card-background-color: #1f2027;
  --button-background-color: #59b6f9;
  --header-background-color: #1f2027;

  --text-default-color: #fff;
}
